body{
	background-color:gray;
}

.main {
	background: white;

	margin:auto;
	font: normal Verdana, Geneva, sans-serif;
	font-size:1.2vw;
	width: 75%;
	height: 10vw;
	padding-bottom:75%;
}

.entete {
text-align:right;
color: #666;
font: bold 38px/1 Calibri, Geneva, sans-serif;
margin-right: 40px;
	font-size:2vw;
}

.bandeau {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 11em;
  border: none;
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(0,150,255,1) 100%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(0,150,255,1) 100%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(0,150,255,1) 100%, rgba(255,255,255,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
.bandeauText1 {
	color: #555;
	margin: 15px;
	font: bold 25px/1 Calibri, Geneva, sans-serif;
		font-size:1.5vw;
}
.bandeauText2 {
	float: right;
	margin:5px;
	position: relative;
	bottom: -50%;
	text-align: right;
}


.bandeauContact {
	float:left;
	width:30%;
}



.bandeauProfil {
	float:right;
	width:70%;
}

.corps {
	float:left;
	height:70vw;
	background-color:white;
	
}

.gauche {
	background: #ccc;
	float:left;
	width:25%;
	height:100%;
	overflow:hidden;
}

.gaucheLoisir {
		margin:40px;
		
}

.gaucheLangue {
		margin:40px;
}

.gaucheImage {
	font: bold 24px/1 Verdana, Geneva, sans-serif;
	margin-left:0;
	font-size:1vw;
	float:center;
	
}

.gaucheGras {
	font: bold 18px/1 Verdana, Geneva, sans-serif;
	font-size:1vw;
}

.date{
	float:left;
	background-color:#eee;
	height:100%;
	width:7%;
	font: bold 18px/1 Verdana, Geneva, sans-serif;
}
	
.date1{
	margin-top:3vw;
	margin-left:1.5%;
	text-align:center;

}

.date2{
	margin-top:47.5vw;
	margin-left:1.5%;
	text-align:center;

}

.date3{
	margin-top:9.5vw;
	margin-left:1.5%;
	text-align:center;

}


.droite {
	
	float:left;
	overflow-wrap: break-word;
	display: inline-block;
	text-align:justify;
	width:65%;

	height:100%;
	overflow:hidden;
}

.droiteGras1{
		margin-left:1.5%;
	font: bold 18px/1 Verdana, Geneva, sans-serif;
	font-size:1.5vw;
	
}

.droiteGras2{
		margin-left:1.5%;
	font: bold 18px/1 Verdana, Geneva, sans-serif;
	font-size:1.3vw;
}




.txt1 {
	margin-left:1.5%;
	font-size:1.1vw;

}
