body{
	background-color:#F7F4F3;
	width:100%;
    
}

.text{
    margin: 10%;
    font-size: 2.8vb;
}

.hidden {
    display: none;
}

ul{
    list-style: circle outside;
}

.hiddentext{
    font-size: 2.2vb;
}

strong{
    font-size: 2.5vb;
}