body{
	background-color:#f6eeec;
    text-align: justify;
}

.textZone{
    background-color:#dbbeb7;
    margin:5%;
    margin-top:-10%;
    margin-bottom:-10%;
    padding:3%;
    padding-top:15%;
}

.text{
    font-size: 2.8vb;
    margin: 5%;
}

.hidden {
    display: none;
}

ul{
    list-style: circle outside;
}

.hiddentext{
    font-size: 2.2vb;
}

strong{
    font-size: 2.5vb;
}

button{
    font-size: 1.5vb;
    margin : 0.2vb;
    margin-left : 0.7vw;
    background-color: #f59e64; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding : 0.2vw;
    padding-left : 0.4vw;
    padding-right : 0.4vw;
}

.img1{
    width: 50%;
    height : auto;
}

.portText{
    font-size: 1000px;
}