@font-face {
	src : url(fonts/Karla-Bold.ttf);
	font-family: karla;
}

@font-face {
	src : url(fonts/Montserrat-VariableFont_wght.ttf);
	font-family:montserrat;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color:#F7F4F3;
	width:100%;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 12fr 2fr;
	grid-template-rows: auto-rows;
}

.header {
	grid-column: 1/4;
	grid-row: 1;
	background-color:#9D715C;
	height:14vh;
	width:100%;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	/* padding:2%; */
	/* padding-left:10%; */
	/* padding-right:10%; */
	text-align:center;
	align-items:center;
	/* column-gap:1vw; */
	color:white;
	position:fixed;
	top: 0;
	z-index: 999;
	animation: header-size 0.5s forwards;
}

.headerName {
	grid-column:1;
	font-size:2em;
	font-family: karla;
}

button {
	font-size:1.5em;
	font-family: karla;
	/* width:100%; */
	height:100%;
	border:none;
	/* border-radius:8%; */
	text-align:center;
	color:white;
}

button:hover {
	background-color:#D2BBB2;
	cursor:pointer;
}

.buttonHome {
	background-color: #9D715C;
	grid-column:3;
	
}

.buttonCV {
	background-color: #9D715C;
	grid-column:5;
	
}

.buttonPort {
	background-color: #9D715C;
	grid-column:4;
}

.buttonLang{
	background-color: #9D715C;
	grid-column:6;
}

.drapeau{
	height:2.2em;
}

.main {
	grid-column: 2;
	grid-row: 2;
	height:100%;
	background-color:#E6DEDB;
	font-size:1.4em;
	font-family: montserrat;
	font-weight:300;
	padding:8%;
	text-align: justify;
	padding-top:23vh;
	color:#303030;
}

.acceuil{
	padding-bottom:10%;
}

.mainPic{
	height:350px;
	display: block;
    margin-right: auto;
    margin-left: auto;
	padding-bottom:5%;
}

.mainTxt{
	padding-left:10%;
	padding-right:10%;
	text-indent: 2vw;
}
.footer {
	grid-column: 1/4;
	grid-row: 3;
	background-color: #3E3736;
	font:1.1em spectral, sans-serif;
	color: #777;
	padding:2%;
	text-align:center;
}

.T0{
	text-align:center;
	font-size:2em;
	margin: 10%;
	padding-top:10%;
}

.cvT1{
	padding-top:2vw;	
	font-weight:600;
	font-size: 1.4em;
}

.cvT2{
	font-size: 1.3em;
	font-weight:400;
	margin:1vw;
}

.cvT3{
	font-size:0.8em;
	color:#777;
}

.cvTxt{
	font-size:0.8em;
}

.logo{
	width:1.5vw;
}

p{
	padding: 0 0 0 2vw;
}

/* CV grid */

.gridOI{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.gridOIMontage{
	grid-column:1;
	grid-row:1;
}

.gridOI3D{
	grid-column:2;
	grid-row:1;
}

.gridOICompositing{
	grid-column:3;
	grid-row:1;
}

.gridOIAudio{
	grid-column:1;
	grid-row:2;
}

.gridOIProgrammation{
	grid-column:2;
	grid-row:2;
}

.gridOIBureautique{
	grid-column:3;
	grid-row:2;
}

iframe{
	height:200px;
	width:300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* --------------- Portfolio gird --------------------- */

.portGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr fit-content(40%) fit-content(40%);
	gap: 1px;
}
	
.portItem{
	position: relative;
	background: black;
	width: 21vw;
	height: 10vw;
	overflow: hidden;
}

.portItem .portImage{
	object-fit: cover;
	width: 21vw;
	height: 10vw;
}

.portItem.active {
 grid-column: 1 / span 3;
  z-index: 1;
  position: relative;
  padding-bottom: 56.25%;
  height: auto !important;
  width: 100%;
}

.portItem.active .portImage {
  display:none;
}

.portItem .portImageDeux {
	display: none;
}

.portItem.active .portImageDeux {
	position: absolute;
	top: 0;
	left: 0;
	width: 65%;
	height: 65;
	object-fit: cover;
	display: block;
	margin-top:8%;
}

.portItem iframe {
  display: none;
  
}

.portItem.active iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.portItem.active .info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 35%;
	background-color: #E6DEDB;
	z-index: 2;
	display:block;
	padding:2%;
	font-size:1.2vw;
	font-family: montserrat;
	font-weight:300;
	text-align: left;
	color:#303030;
}

.portItem .info{
	display:none;
}

.portItem .info p{
	margin-top:10px;
	padding:0px;
}


.portcontainer {
	padding: 20px;
	padding-bottom: 60px;
	display: flex; /* Use Flexbox */
	flex-wrap: wrap; /* Enable wrapping to handle small screens */
	justify-content: space-between; /* Spacing between elements */
    }

.portVid {
	margin:0vw;
	margin-right:2vw;
	margin-left:6vw;
	margin-top:-4vw;
    }
	
.portVid iframe {
	width: 50vw;  
    height: 25vw;
	border: none; /* Remove iframe border */
}

.portGithub {
	margin-left: 35%;
	margin-top:2vw;
    }

.portGithub img {
    width: 10vw;
	height: 10vw;
}

.portHover{
	transform: scale(1.0);
	transition: transform 0.3s ease-in-out, font-size 0.1s ease-out;
	user-select: none; /* prevent selection of the text */
	font-size: 0vw;

}

.portHover:hover {
	transform: scale(1.2);
	font-size: 0.8vw;
  }

.portText{
	color : white;
	text-shadow: 1px 1px 2px black;
	font-weight:900;
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* KEYFRAMES ------------------------------------------------------ */
	
@keyframes header-size1 {
	from{height:14vh;opacity:1;}
	to{height:8vh;opacity:0.7;}
	
}

@keyframes drapeau1{
	from{height:2.2em;}
	to{height:1.2em;}
}

@keyframes drapeau2{
	from{height:1.2em;}
	to{height:2.2em;}
}
@keyframes header-size2 {
	from{height:8vh;opacity:0.7;}
	to{height:14vh;opacity:1;}
}
/* @media(prefers-reduced-motion){ */
	.hidden{
		opacity:0;
		filter: blur (5px);
		transform: translateX(-10%);
		transition :all 2s;
	}

	.show{
		opacity:1;
		filter: blur (0);
		transform: translateX(0);
	}
/* } */

/* PHONE ------------------------------------------------------ */


@media only screen and (max-width:700px) {
	.main {
		grid-column: 1/4;
		grid-row: 2;
		font-size:1.2em;
		font-weight:300;
		padding-top:210px;
		text-align: justify;
		word-spacing:-1px;
		width:100%;
		}
		
	.mainPic{
		height:200px;
		float:none;
		display:block;
		text-align:center;
		margin:auto;	
	}
	.footer {
		height:100%;
		grid-column: 1/4;
		grid-row: 3;
		font:1.1em spectral, sans-serif;
		padding:2%;
		text-align:center;
	}
	
	p{
		padding: 0 0 0 6vw;
	}
	
	/* button:focus{background-color:red;} */
	
	iframe{
		height:270px;
		width:100%;
		display:block;
		text-align:center;
		margin:auto;
	}
	
	.gridOI{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		font-size:0.8em;
		text-align:left;
	}
	
	.gridOIMontage{
		grid-column:1;
		grid-row:1;
	}

	.gridOI3D{
		grid-column:2;
		grid-row:1;
	}

	.gridOICompositing{
		grid-column:1;
		grid-row:2;
	}

	.gridOIAudio{
		grid-column:2;
		grid-row:2;
	}

	.gridOIProgrammation{
		grid-column:1;
		grid-row:3;
	}

	.gridOIBureautique{
		grid-column:1;
		grid-row:3;
	}
	
	.header {
		grid-column: 1/4;
		grid-row: 1;
		background-color:#9D715C;
		height:160px;
		width:100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
		padding:4%;
		/* padding-left:10%; */
		/* padding-right:10%; */
		text-align:center;
		align-items:center;
		column-gap:1vw;
		color:white;
		position:fixed;
		top: 0;
		z-index: 999;
		animation: header-size 0.5s forwards;
	}

	.headerName {
		grid-column:1;
		font-size:0.9em;
		font-family: karla;
	}

	button {
		font-size:1.0em;
		font-family: karla;
		/* width:100%; */
		height:100%;
		border:none;
		/* border-radius:8%; */
		text-align:center;
		color:white;
	}

	.drapeau{
		/* object-fit: cover; */
		/* width:100%; */
		height:40px;
	}
	
	/* Portfolio gird */

	.portItem.active .info {
		width: 50%;
		font-size:1.9vw;
	}
	
	.portItem.active iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 50%;
	  height: 100%;
	  object-fit: cover;
	  display: inline flex;
	}
	
	.portcontainer {
		padding: 20px;
		padding-bottom: 60px;
		display: flex; /* Use Flexbox */
		flex-wrap: wrap; /* Enable wrapping to handle small screens */
		justify-content: space-between; /* Spacing between elements */
    }

	.portVid {
		margin:0vw;
		margin-top:-2vw;
	}
		
	.portVid iframe {
		width: 75vw;  
		height: 42vw;
		border: none; /* Remove iframe border */
	}

	.portGithub img {
		width: 30vw;
		height: 30vw;
		margin-left:50%;
		margin-top:5vh;
	}

}

